*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

}

a{
    text-decoration: none;
    color: white;
}

header{
    background-color: coral;
    display:flex;
    align-items: center;
    /* margin: 10px; */
    padding: 10px;
}

header ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header ul li a:hover{
    color: black;
}

#logo{
    margin: 0 auto;
    font-size: 50px;
}

#Menu li{
    padding: 10px;
}

#social-links li{
    padding: 10px;
}

/* part-2 */

#main{
    display: flex;

}

aside{
    padding: 10px;
    flex: 0 0 20vw;
    background-color: beige;
}

aside ul{
    list-style-type: none;
    padding: 0;
}

aside ul li a{
    color: #566c2b;
    padding: 10px;
    display: block;
    border-bottom: 1px soild rgb(138, 75, 75);
}

aside ul li a:hover{
    color: black;
}

aside img{
    width: 100%;
    /* height: 120px; */
    /* padding: 10px; */
    flex-basis: 32%;
    max-width: 370px
}


article{
    padding: 10px;
}
.services-container{
    display: flex;
    justify-content: space-between;
}

.service-box{
    border: 1px soild black;
    padding: 10px;
    margin-bottom: 15px;
    flex-basis: 32%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
}

.service-box h3{
    margin: 5px 0 10px;
}

.service-box p{
    margin: 0 0 10px;
}

.call-to-action{
    align-self: flex-start;
    margin-top: auto;
    
}

.call-to-action a{
    background: gray;
    border: 2px solid transparent;
    color: white;
    padding: 8px 13px;
    display: block;
}

.call-to-action a:hover{
    background: transparent;
    color: gray;
    border: 2px solid transparent;
   
}
.service-box img{
    width: 100%;
}

/* part 3  */

footer{
    background-color: #566c2b;
    color: white;
    text-align: center;
    padding: 15px 0;
}